* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	background: url(bg-large.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1em;
}

#footer, .push {
	height: 1em;
}

body {
	font-family: georgia;
}
div#dawn, div#about {
	padding-top: 20%;
	color: white;
}

div#dawn div, div#about div {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 10px;
}

div#dawn {
	text-align: center;
	font-weight: bold;
	font-size: 400%;
}

div#about p {
	margin-bottom: 5px;
}

span.timezone {
	font-size: 50%;
	margin-left: 20px;
}

div#footer {
	text-align: center;
	color: white;
	font-size: x-small;
}

div#footer a {
	color: white;
	text-decoration: none;
}

div#footer a:hover {
	text-decoration: underline;
}

@media only screen and (max-width : 768px) {
	html {
		background-image: url(bg-medium.jpg);
	}
}

@media only screen and (max-width : 480px) {
	html {
		background-image: url(bg-small.jpg);
	}

	div#dawn div, div#about div {
		width: 280px;
		padding: 15px;
	}

	div#dawn {
		text-align: center;
		font-weight: bold;
		font-size: 300%;
	}
}